body {
  background: linear-gradient(to bottom, #7d849b, #678599 50%,  #5a6488 100%);
}

#container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.series {
  margin: 25px 0;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 13px #FFF;
  -moz-box-shadow: 0px 0px 5px 13px #FFF;
  box-shadow: 0px 0px 5px 13px #FFF;
}
img {
  width: calc(200px + 25vw);
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}
.img-med {
  width: calc(275px + 25vw);
}

.img-wide {
  width: calc(350px + 30vw);
}