body {
  background-color: #525151;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
 #container {
   position: relative;
   left: -15px;
 }
.gameBtn {
  width: 210px;
  height: 50px;
  background-color: #ccced6;
  color: #595c6e;
  margin: 5px;
  border-radius: 25px;
  line-height: 45px;
  font-size: 37px;
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
}

.secretBtn {
  visibility: hidden;
}

#play {
  transition: opacity 1s;
}

.playHidden {
  opacity: 0;
}

.playVisible {
  opacity: 1;
}

.gameBtn:hover {
  cursor: pointer;
  background-color: #fff;
}
.playHidden:hover {
  cursor: default;
}
.gameBtn:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

#game {
  position: relative;
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#controls {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#board {
  position: absolute;
  top: 80px;
  background-color: #ccced6;
  overflow: hidden;
  border-radius: 30px;
  margin: 10px;
  padding: 20px;
}

#board:focus {
  outline: none;
}
#board svg {
  position: absolute;
  left: 0;
  top: 0;
}
.hex-target {
  fill: #e0e1e6;
}

.hex {
  fill: #aa6065;
  stroke: #8c4b4f;
}

.hex-buffer {
  fill: #5392a5;
  stroke: #427483;
}
.hex-pattern {
  fill: #9abe3a;
  stroke: #bdea45;
}
.hex-flash {
  fill: #aa6065;
}
.hex-flash.hex-buffer {
  fill: #5392a5;
}
.hex-flash.hex-pattern {
  fill: #76972f;
}
.hex-hl {
  stroke: #4a272a;
}

.hex-hl.hex-buffer {
  stroke: #20383f;
}
.hex-hl.hex-pattern {
  stroke: #dbf598;
}
#interface {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: calc(5% - 10px);
  left: calc(5% - 10px);
  height: 90%;
  width: 90%;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 62px;
  line-height: 62px;
  z-index: 20;
  background-color: rgba(104, 216, 162, 0.5);
  border: 10px solid #b9edd4;
  border-radius: 50px;
  -webkit-transform: scale(2) translate(0, 0);
          transform: scale(2) translate(0, 0);
  opacity: 0;
}

#interface-title {
  font-size: 120px;
  font-weight: 700;
  height: 0px;
}

#interface-msg {
  width: 90%;
  text-align: center;
  height: 0;
  line-height: 80px;
}
#interface-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.interface-btn {
  font-size: 50px;
  height: 80px;
  line-height: 80px;
  width: 70%;
  border: 10px solid #b9edd4;
  background: rgba(104, 216, 162, 0.5);
  text-align: center;
  border-radius: 30px;
  margin-bottom: 40px;
}

.interface-btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.interface-btn:hover {
  cursor: pointer;
}

.scoreLabel {
  position: absolute;
  left: 155%;
  width: 58%;
  top: 27px;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  color: #8b8d95;
  font-size: 41px;
}
#hexedit {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 320px;
  background-color: #99A;
  border-radius: 5px;
  border: 1px solid black;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.hexeditlabel {
  width: 45%;
  font-size: 20px;
  font-weight: bold;
}

.hexedititem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7px 15px;
  width: 90%;
}

.hexeditinput {
  width: 55%;
}


