#contact {
  margin-top: 50px;
  margin-bottom: 20px;
}

#palette {
  align-self: center;
  order: 1;
  margin-bottom: 10px;
  visibility: visible;
  display:flex;
  flex-direction:column   ;
}
#paletteBalance {
  order: 3;
  width: 56px;
}




.paletteButton {
  width: 36px;
  height: 36px;
  margin: 5px;
  border: 1px solid rgb(116, 116, 116);
  align-self:center;
  margin-left: 12px;
}

.paletteButton:hover, .selectedPaletteButton {
  border: 1px solid rgb(211, 211, 211);
  border-left-width: 12px;
  margin-left: 0;
}
.paletteButton:active {
  border: 1px solid rgb(156, 156, 156);
  border-left-width: 12px;
  margin-left: 0;
}

#messages {
  height: 34px;
  text-align: center;
  font-size: 30px;
  font-family: Monospace;
  color: #6d94bf;
  margin-bottom: 15px;
  margin-top: -10px;
  word-wrap: break-word;
}

#container {
	padding: 30px;
}

#innerContainer {
    position:relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#innerContainer:active {
  cursor: default;
}

#otherContainer {
  display:flex;
  flex-direction: row;
}
#JoelCA {
	background-color: #000;
	border-radius: 4px;
  padding: 5px;
  margin: auto;
  display: block;
  order: 2;
}

body {
	background-color: #151515;
}

.btnrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.hiddenrow {
  display: none;
}

.btn {
  min-width: 90px;
  max-width: 100px;
	margin-top: 5px;
}
  
.instr {
  font-size:15px;
}
/*For the assertion results*/
#results li.pass {color: green;}
#results li.fail {color: red;}

button {
  padding: 7px 10px;
  font-size: 35px;
  font-family: Monospace;
  margin: 6px;
  border-radius: 5px;
  background-color: #2c4661;
  color: #90b4db;
  border: 1px solid #6d94bf;
}

button:active {
  color: #2c4661;
  background-color: #6d94bf;
}

button:focus {
  outline:none;
}

.text-center {
  color: #6d94bf;
  width: 100%;
  text-align: center;
  font-family: Monospace;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#ruleDisplay {
  color: #6d94bf;
  width: 679px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 28px;
  font-family: Monospace;
  line-height: 45px;
}

.speciesSquare, .speciesSquareSmall {
  width: 40px;
  height: 40px;
  margin: 5px 10px;
  border: 1px solid rgb(116, 116, 116);
}
.speciesSquareSmall {
  width: 28px;
  height: 28px;
  margin: 6px 5px;
}

.speciesRule {
  width:  700px;  
  flex-shrink: 0;
  padding: 15px;
  border: 1px solid #888;
  position: relative;
  margin-top: 10px;
}

.speciesTitle {
  display: flex;
  padding: 3px;
  width: 80px;    
  position: absolute;
  left: -95px;
}

.speciesNeighborhood, .speciesTitle, .speciesRuleType {
  height: 50px;
}

.speciesRuleType {
  display: flex;
  flex-flow: column;
}
.speciesRuleFriends {
  display: flex;
}
.speciesRuleTransitions {
  display: flex;
  padding: 10px;
  border: 1px solid rgb(82, 82, 82);
  flex-flow: row wrap;
}

.speciesRuleTransition {
  display: flex;
  width: 90px;
}

.speciesRulesTitle {
  font-size: 32px;
}