body {
  margin: 0;
  padding: 0;
  background-color: #101615;
  font-family: 'Rubik', sans-serif;
}

#outer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#svg,
#scrollInner,
#scrollOuter {
  position: absolute;
  top: 0;
  left: 0;
}

#svg {
  width: 100%;
  height: 100%;
}
#canvas {
  transform-origin: 0% 0%;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px;
}

#scrollOuter {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

#scrollInner {
  width: 100%;
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 290px 0;
  background-color: rgba(16, 22, 21, 0);
  color: #e0e0e0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0px 0px 15px 15px rgba(16, 22, 21, 0);
  padding: 15px 0;
}

.content:first-of-type {
  margin-top: 30vh;
  padding: 0 10%;
}

.blend {
  mix-blend-mode: hue;
}

#svg_overlay {
  pointer-events: none;
  opacity: 0;
}

.title-big {
  width: 100%;
  font-weight: 600;
  font-size: 39px;
  text-align: center;
  padding: 0 32px 15px 32px;
  margin: 0;
}

.title-medium {
  font-weight: 600;
  font-size: 27px;
  text-align: center;
  padding: 0 32px;
}

.title-small {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 0 32px;
}

.text-normal {
  font-weight: 500;
  font-size: 18px;
}

.content-text,
.img-link {
  margin: 12px;
}

.content-title {
  width: 100%;
  text-align: center;
}

.content-inner {
  width: 100%;
  display: flex;
  padding: 0 7%;
  align-items: flex-start;
  justify-content: center;
}

.content-text {
  text-align: justify;
  width: 50%;
  max-width: 420px;
}

.img-link {
  width: 50%;
  max-width: 420px;
  height: 250px;
  flex-shrink: 0;
}

.content-img {
  border-style: solid;
  border-color: #000;
  border-width: 0;
  box-sizing: border-box;
  display: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  max-width: 500px;
}

@media screen and (max-width: 1050px) {
  .content-inner {
    flex-flow: column nowrap;
    align-items: center;
  }
  .content-text {
    max-width: 1200px;
    width: auto;
  }
  .text-normal {
    font-size: 32px;
    line-height: 47px;
  }
  .img-link {
    height: auto;
    width: auto;
    max-width: initial;
  }
  
  .content-img {
    max-width: initial;
  }

  .title-big {
    font-size: 39px;
  }

  .title-medium {
    font-size: 34px;
  }

  .title-small {
  font-size: 29px;
  }
}

#canvasOverlay {
  background: linear-gradient(to bottom, rgb(255, 0, 119), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgb(14, 253, 161) 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}	